<main class="container">
  <div class="inner-sidebar-header justify-content-center">
    <h1 class="text-center">FORUM</h1>
    <h3 class='text-center'>Welcome to Kalitair's Forum</h3>
  </div>
  <div class="inner-sidebar-header justify-content-center">
    <button (click)="createDiscussionThread()" class="btn btn-primary has-icon btn-block" type="button"
      data-toggle="modal" data-target="#threadModal">
      Create a new Section
    </button>
  </div>
  <!-- Forum List -->
  <div class="inner-main-body p-2 p-sm-3  forum-content show">
    <div class="card mb-2" *ngFor=' let discussionThread of discussionThreads'>
      <div class="card-body p-2 p-sm-3">
        <div class="media forum-item">
          <a data-target=".forum-content"><img
              src="https://img2.freepng.fr/20180401/gcq/kisspng-royalty-free-clip-art-sun-vector-5ac0e38e43bc15.7460223415225906062775.jpg"
              class="mr-3 rounded-circle" width="50" alt="category" /></a>
          <div class="media-body">
            <h6 (click)='getMessage()'>{{discussionThread.title}}</h6>
            <button class="btn btn-success " (click)="editDiscussionThread(discussionThread)">Edit</button>
            <button class="btn btn-danger " (click)="deleteDiscussionThread(discussionThread)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item" *ngFor="let page of pages" [ngClass]="{'active': pagination.currentPage === page}"><a
            class="page-link" (click)="paginate(page)">{{page}}</a></li>
      </ul>
    </nav>
  </div>
</main>