<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
<div class="row">
	
	<div class="col-lg-12">
		<div class="row">
			<div class="col-lg-5">
				<form class="form-inline">
					<div class="input-group rounded mb-2">
						<input type="search" class="form-control rounded" placeholder="Search Pseudo" aria-label="Search"
						aria-describedby="search-addon" (input)="filter($event)" />
						<span class="input-group-text border-0" id="search-addon">
						<i class="fa fa-search"></i>
						</span>
					</div>
				</form>
			</div>
		</div>
		
		<div class="main-box clearfix">
			<div class="table-responsive">
				<table class="table user-list">
					<thead>
						<tr>
							<th><span>User</span></th>
							<th class="text-center"><span>Status</span></th>
							<th><span>Email</span></th>
							<th>&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let user of users">
							<td>
								<img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
								<a href="#" class="user-link">{{user.firstName}} {{user.lastName}} ({{user.pseudo}})</a>
								<span class="user-subhead">{{user.role}}</span>
							</td>
							<td class="text-center">
								<span [ngClass]="user.banned ? 'badge badge-danger' : 'badge badge-success'" class="label label-default">{{user.banned ? "Banned" : "Not banned"}}</span>
							</td>
							<td>
								<p>{{user.email}}</p>
							</td>
							<td style="width: 20%;">
								<a href="#" class="table-link">
									<span class="fa-stack">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
									</span>
								</a>
								<a (click)="openModal(user)" [ngClass]="user.banned ? 'success' : 'danger'" class="table-link">
									<span class="fa-stack">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa fa-ban fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="container">
				<nav aria-label="Page navigation example">
				  <ul  class="pagination justify-content-center">
					<li class="page-item " *ngFor="let page of pages" [ngClass]="{'active': pagination.currentPage == page}" (click)="paginate(page)"><a class="page-link" >{{page+1}}</a></li>
				  </ul>
				</nav>
			</div>
		</div>
	</div>
</div>
</div>