<div class="container">
    <div class="row mt-5">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h2>Create your account</h2>
            <form [formGroup]='createForm'>
                <div class="form-group row mt-5">
                  <label for="pseudo" class="col-sm-3 col-form-label">Pseudo *</label>
                  <div class="col-sm-9">
                    <input formControlName='pseudo' type="text" class="form-control" id="pseudo" 
                    [ngClass]="{'is-invalid': submitted && form.pseudo.errors , 'is-valid' : submitted && !form.pseudo.errors}" 
                    placeholder="Pseudo" required>
                    <div *ngIf="submitted && form.pseudo.errors" class="invalid-feedback">
                      <div *ngIf="form.pseudo.errors.required">Pseudo required</div>
                      <div *ngIf="form.pseudo.errors.minlength">Pseudo must be at least 2 characters</div>
                      <div *ngIf="form.pseudo.errors.maxlength">Pseudo can't exceed 50 characters</div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="firstName" class="col-sm-3 col-form-label">FirstName *</label>
                  <div class="col-sm-9">
                    <input formControlName="firstName" type="text" class="form-control" id="firstName" 
                    [ngClass]="{'is-invalid': submitted && form.firstName.errors, 'is-valid': submitted && !form.firstName.errors}"
                    placeholder="FirstName" required>
                    <div *ngIf="submitted && form.firstName.errors" class="invalid-feedback">
                      <div *ngIf="form.firstName.errors.required">FirstName required</div>
                      <div *ngIf="form.firstName.errors.minlength">FirstName must be at least 2 characters</div>
                      <div *ngIf="form.firstName.errors.maxlength">FirstName can't exceed 50 characters</div>
                      <div *ngIf="form.firstName.errors.pattern">FirstName must contains only letters - _ or spaces </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="lastName" class="col-sm-3 col-form-label">LastName *</label>
                  <div class="col-sm-9">
                    <input formControlName="lastName" type="text" class="form-control" id="lastName"
                    [ngClass]="{'is-invalid': submitted && form.lastName.errors, 'is-valid': submitted && !form.lastName.errors}"
                    placeholder="Nom" required>
                    <div *ngIf="submitted && form.lastName.errors" class="invalid-feedback">
                      <div *ngIf="form.lastName.errors.required">Last Name required</div>
                      <div *ngIf="form.lastName.errors.minlength">Last Name must be at least 2 characters</div>
                      <div *ngIf="form.lastName.errors.maxlength">Last Name can't exceed 50 characters</div>
                      <div *ngIf="form.lastName.errors.pattern">Last Name must contains only letters - _ or spaces </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="streetNumber" class="col-sm-3 col-form-label">Street number *</label>
                  <div class="col-sm-9 ">
                    <input formControlName="streetNumber" type="text" class="form-control " id="streetNumber"
                    [ngClass]="{'is-invalid': submitted && form.streetNumber.errors, 'is-valid' : submitted && !form.streetNumber.errors}"                    
                    placeholder="28, 1000bis, 1000ter ...." required>
                    <div *ngIf="submitted && form.streetNumber.errors" class="invalid-feedback">
                      <div *ngIf="form.streetNumber.errors.required">Street number required</div>
                      <div *ngIf="form.streetNumber.errors.minlength">Street number must be at least 1 characters</div>
                      <div *ngIf="form.streetNumber.errors.maxlength">Street number can't exceed 8 characters</div>
                      <div *ngIf="form.streetNumber.errors.pattern">Street number can only been a 4/less digits number or 4 digits number bis/ter </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="streetName" class="col-sm-3 col-form-label">Street name *</label>
                  <div class="col-sm-9">
                    <input  type="text" class="form-control" id="streetName" placeholder="Rue du Maréchal" required>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="zipCode" class="col-sm-3 col-form-label">Zip Code *</label>
                  <div class="col-sm-9">
                    <input  type="number" class="form-control" id="zipCode" placeholder="58947" required>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="town" class="col-sm-3 col-form-label">Town *</label>
                  <div class="col-sm-9">
                    <select class="custom-select mr-sm-2" id="town" required>
                        <option *ngFor="let town of towns" value={{town.name}}>{{town.name}}</option>
                      </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="email" class="col-sm-3 col-form-label">Email *</label>
                  <div class="col-sm-9">
                      <input formControlName='email' type="email" id="inputEmail" class="form-control" 
                    [ngClass]="{'is-invalid': !form.email.valid && form.email.dirty, 'is-valid': form.email.valid}"
                    placeholder="Email address" required>
                    <small class="invalid-feedback">
                        xxx@xxx.xxx
                    </small>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="password" class="col-sm-3 col-form-label">Password *</label>
                  <div class="col-sm-9">
                    <input type="password" class="form-control" id="password"  placeholder="Password">
                    
                  </div>
                </div>
                <div class="form-group row">
                  <label for="confirmPassword" class="col-sm-3 col-form-label">Password Confirmation</label>
                  <div class="col-sm-9 d-flex align-items-center">
                    <input type='password' class="form-control" id="confirmPassword" required>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Create my account</button>
                  </div>
                </div>
              </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
