<div class="container">
    <div class="row mt-5">
        <div class="col-md-3"></div>
        <div class="col-md-6">

            <form class="form-signin" [formGroup]='loginForm'>
                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                <label for="pseudo" class="sr-only">Pseudo</label>
                <input formControlName='pseudo' type="text" id="pseudo" class="form-control" 
                [ngClass]="{'is-invalid': !loginForm.get('pseudo')?.valid && loginForm.get('pseudo')?.dirty, 'is-valid': loginForm.get('pseudo')?.valid}"
                placeholder="Pseudo" required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input formControlName="password" type="password" id="inputPassword" class="form-control mt-2" placeholder="Password" required>
                <div [ngClass]="{'is-invalid': this.errorHttpMessage.length && this.isSubmitted}" class="mt-3">
                  <small class="text-danger">{{this.errorHttpMessage}}</small>
                </div>
                <div class="mt-3">
                  <button class="btn btn-lg btn-primary w-100" type="submit" (click)="login()">Sign in</button>
                  <div class="col-lg-2"></div>
                  <button class="btn btn-lg btn-primary w-100 mt-2 " type="submit" (click)="createAccount()">Create an account</button>
                </div>
                
                <p class="mt-5 mb-3 text-muted">&copy; 2020-2021</p>
              </form>

        </div>
        <div class="col-md-3"></div>

    </div>
</div>