<div class="container mt-3">
  <div class="main-body p-0">
    <div class="inner-wrapper">
      <!-- Inner sidebar -->
      <div class="inner-sidebar">
        <!-- Inner sidebar header -->
        <div class="inner-sidebar-header justify-content-center">
         <h1 class ="text-center">FORUM</h1>
         <h2 class="text-center"> Messages </h2>
         <h3 class='text-center'>Welcome to Kalitair's Forum</h3>
        </div>
        <div class="inner-sidebar-header justify-content-center">
          <button  (click) = "createMessage()" class="btn btn-primary has-icon btn-block" type="button" data-toggle="modal"
            data-target="#threadModal">

          Create a new message
        </button>
          <!-- Forum List -->
          <div class="inner-main-body p-2 p-sm-3  forum-content show">
            <div class="card mb-2" *ngFor="let message of messages">
              <div class="card-body p-2 p-sm-3">
                <div class="media forum-item">
                  <a data-target=".forum-content"><img src="https://bootdey.com/img/Content/avatar/avatar1.png"
                      class="mr-3 rounded-circle" width="50" alt="User" /></a>
                  <div class="media-body">
                    <h6>{{message.user.pseudo}}</h6>
                    <h6>{{message.date}}</h6>
                    <p class="text-secondary">
                      {{message.content}}
                    </p>
                  </div>
                   <button *ngIf="message.edit == true" (click)="editMessage(message.id)">Edit</button>
                    <button *ngIf="message.edit == true"(click)="deleteMessage(message.id)">Delete</button>
                </div>
              </div>
            </div>
            <div class="container">
              <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                  <li class="page-item" *ngFor="let page of pages"
                    [ngClass]="{'active': pagination.currentPage === page}"><a class="page-link" href="#"
                      (click)="paginate(page)">{{page}}</a></li>
                </ul>
              </nav>
            </div>


