<div class="model-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">EDIT SECTION</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Do you really want to edit this discussion threaad ? </p>
    <form #form="ngForm">
      <div class="form-group">
        <label for="sectionTitle">Title</label>
        <input type="text" name="title" class="form-control" #title="ngModel" [(ngModel)]="discussionThread.title"
          id="InputDiscussionThreadTitle" placeholder="Enter your modifications">
            <input name="id" type="hidden" [(ngModel)]=discussionThread.id class="form-control">
            <input name="userId" type="hidden" [(ngModel)]=discussionThread.userId class="form-control">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="dismiss()">Close</button>
        <button type="button" class="btn btn-primary" (click)="editDiscussionThread(discussionThread)">Edit</button>
      </div>
    </form>
  </div>
</div>

